@charset "UTF-8";
body {
  background-color: #E0DFDF;
  font-size: 16px;
  color: #111F4D;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #111F4D;
  font-weight: bold; }

h1 {
  font-size: 4.25rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 1.75rem; }

h6 {
  font-size: 1.5rem; }

p, a {
  font-size: 1rem;
  color: #111F4D; }

a {
  font-family: "Work Sans", sans-serif; }

button.btn, a.btn {
  font-family: "Work Sans", sans-serif; }

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px; } }
section .section-container {
  padding: 4.5rem 9rem; }
  section .section-container_header {
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: center; }
    section .section-container_header h2 {
      text-align: center; }
      section .section-container_header h2:after {
        display: block;
        width: 680px;
        height: 2px;
        background-color: #B824A4;
        content: "";
        margin-top: 1rem; }

.maxNet-btn {
  border-radius: 0.5rem;
  border: 1px solid #ffffff;
  padding: 0.75rem 1.75rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font-weight: 900;
  transition: all 0.3s ease-in-out; }
  .maxNet-btn:hover {
    color: #ffffff; }

.maxNet-btn-purple {
  border-color: #B824A4;
  background-color: #B824A4;
  color: #ffffff; }
  .maxNet-btn-purple:hover {
    background-color: #90007C;
    border-color: #90007C; }

.maxNet-btn-blue {
  border-color: #003893;
  background-color: transparent;
  color: #003893; }
  .maxNet-btn-blue:hover {
    background-color: #003893;
    color: #ffffff;
    border-color: #003893; }

.maxNet-btn-banner {
  background-color: transparent;
  position: relative;
  z-index: 2;
  display: inline-block;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .maxNet-btn-banner::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background: #90007C;
    top: 0;
    left: 50%;
    transition: all 300ms ease-in-out; }
  .maxNet-btn-banner:hover {
    color: white;
    box-shadow: none;
    border-color: #90007C;
    border-radius: 0.5rem; }
    .maxNet-btn-banner:hover:before {
      background-color: #90007C;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0%;
      z-index: -1;
      transition: all 300ms ease-in-out; }
  .maxNet-btn-banner .text {
    z-index: 2;
    position: relative; }

.maxNet-btn-horizontal {
  background-color: transparent;
  position: relative;
  z-index: 2;
  display: inline-block;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .maxNet-btn-horizontal::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background: #90007C;
    top: 0;
    left: 50%;
    transition: all 300ms ease-in-out; }
  .maxNet-btn-horizontal:hover {
    color: white;
    box-shadow: none;
    border-color: #90007C;
    border-radius: 0.5rem; }
    .maxNet-btn-horizontal:hover:before {
      background-color: #90007C;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0%;
      z-index: -1;
      transition: all 300ms ease-in-out; }
  .maxNet-btn-horizontal .text {
    z-index: 2;
    position: relative; }

.simple_blue_btn {
  color: #003893;
  border: 1px solid #003893; }

.maxNet_check_wrap input[type="checkbox"] {
  display: none; }
.maxNet_check_wrap input[type="checkbox"]:checked + label:after {
  transform: scale(0.8); }
.maxNet_check_wrap label {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 2px solid #B824A4;
  position: relative;
  cursor: pointer;
  transition: 0.2s; }
.maxNet_check_wrap label:before {
  content: "";
  position: absolute;
  display: block;
  height: 300%;
  width: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s; }
.maxNet_check_wrap label:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/icons/check-solid.svg") center center no-repeat;
  background-size: contain;
  transform: scale(0);
  transition: 0.2s; }

.maxNet_rotate_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  flex-direction: column; }
  .maxNet_rotate_card .front, .maxNet_rotate_card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    border-radius: 10px; }
    .maxNet_rotate_card .front .img_wrap, .maxNet_rotate_card .back .img_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 190px; }
    .maxNet_rotate_card .front p, .maxNet_rotate_card .back p {
      margin-top: auto; }
  .maxNet_rotate_card .front {
    background: inherit; }
  .maxNet_rotate_card .back {
    background-color: inherit;
    transform: rotateY(180deg); }
  .maxNet_rotate_card:hover .front {
    transform: rotateY(180deg); }
  .maxNet_rotate_card:hover .back {
    transform: rotateY(360deg); }

.orange-top {
  border-top-color: #FF7A00 !important; }

.dark-blue-top {
  border-top-color: #111F4D !important; }

.yellow-top {
  border-top-color: #FFDC00 !important; }

.light-blue-top {
  border-top-color: #479AFB !important; }

.purple-top {
  border-top-color: #B824A4 !important; }

.dark-top {
  border-top-color: #4D4D4D !important; }

.red-top {
  border-top-color: #FB3569 !important; }

section#main_top_banner .section-container {
  min-height: 383px;
  background: url("../images/main_top_banner_bg.png") #003893 no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  section#main_top_banner .section-container .main_top_banner_header {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 4rem; }
    section#main_top_banner .section-container .main_top_banner_header::after {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transform: translateY(1.125rem); }
  section#main_top_banner .section-container .main_top_banner_text {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 1.5rem; }
  section#main_top_banner .section-container .main_top_banner_button {
    background-color: transparent;
    position: relative;
    z-index: 2;
    display: inline-block;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    section#main_top_banner .section-container .main_top_banner_button::before {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      background: #90007C;
      top: 0;
      left: 50%;
      transition: all 300ms ease-in-out; }
    section#main_top_banner .section-container .main_top_banner_button:hover {
      color: white;
      box-shadow: none;
      border-color: #90007C;
      border-radius: 0.5rem; }
      section#main_top_banner .section-container .main_top_banner_button:hover:before {
        background-color: #90007C;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        z-index: -1;
        transition: all 300ms ease-in-out; }
    section#main_top_banner .section-container .main_top_banner_button .text {
      z-index: 2;
      position: relative; }

section#main_services .service_card {
  border: 1px solid #969696;
  display: flex;
  flex-direction: column; }
  section#main_services .service_card_link {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    padding: 2.75rem 2.75rem 1.75rem 2.75rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
    background-size: 100%;
    transition: all 0.5s ease-in-out; }
    section#main_services .service_card_link::after {
      content: "";
      display: block;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 1;
      transition: all 0.3s ease-in-out; }
    section#main_services .service_card_link:hover {
      background-size: 110%; }
      section#main_services .service_card_link:hover::after {
        opacity: 0.25; }
  section#main_services .service_card_header {
    z-index: 2;
    font-size: 1.875rem;
    position: relative;
    line-height: 37px;
    min-height: 115px;
    flex-grow: 1;
    margin-bottom: 3.25rem;
    position: relative; }
    section#main_services .service_card_header::after {
      position: absolute;
      width: 100%;
      display: block;
      content: "";
      height: 2px;
      background-color: #B824A4;
      bottom: -1.75rem; }
  section#main_services .service_card_text {
    z-index: 2;
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    line-height: 27px; }
  section#main_services .service_card_chevron {
    z-index: 2;
    position: relative;
    margin-bottom: 0;
    display: block;
    text-align: right;
    width: 100%; }

section#main_sub_banner .section-container {
  background-repeat: no-repeat;
  background-size: cover; }
section#main_sub_banner .main_sub_banner_header, section#main_sub_banner .main_sub_banner_link {
  text-align: center;
  color: #ffffff; }
section#main_sub_banner .main_sub_banner_link_wrap {
  text-align: center; }
  section#main_sub_banner .main_sub_banner_link_wrap a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 2px solid transparent;
    position: relative;
    font-size: 1.15em;
    cursor: pointer;
    letter-spacing: 0.07em;
    text-decoration: none; }
    section#main_sub_banner .main_sub_banner_link_wrap a .text {
      font-family: "Work Sans", sans-serif;
      transform: translate3d(0, 0.7em, 0);
      display: block;
      transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
    section#main_sub_banner .main_sub_banner_link_wrap a:after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: calc(0.7em * 1.2);
      right: calc(0.7em * 1.2);
      height: 2px;
      background: #ffffff;
      transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
      transform-origin: left; }
  section#main_sub_banner .main_sub_banner_link_wrap .line {
    position: absolute;
    background: #ffffff; }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-right, section#main_sub_banner .main_sub_banner_link_wrap .line.-left {
      width: 2px;
      bottom: -2px;
      top: -2px;
      transform: scale3d(1, 0, 1); }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-top, section#main_sub_banner .main_sub_banner_link_wrap .line.-bottom {
      height: 2px;
      left: -2px;
      right: -2px;
      transform: scale3d(0, 1, 1); }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-right {
      right: -2px;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
      transform-origin: top; }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-top {
      top: -2px;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left; }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-left {
      left: -2px;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom; }
    section#main_sub_banner .main_sub_banner_link_wrap .line.-bottom {
      bottom: -2px;
      transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
      transform-origin: right; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .text, section#main_sub_banner .main_sub_banner_link_wrap a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover:after, section#main_sub_banner .main_sub_banner_link_wrap a:active:after {
    transform: scale3d(0, 1, 1);
    right: -2px;
    left: -2px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .line, section#main_sub_banner .main_sub_banner_link_wrap a:active .line {
    transform: scale3d(1, 1, 1); }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .line.-right, section#main_sub_banner .main_sub_banner_link_wrap a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .line.-top, section#main_sub_banner .main_sub_banner_link_wrap a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .line.-left, section#main_sub_banner .main_sub_banner_link_wrap a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top; }
  section#main_sub_banner .main_sub_banner_link_wrap a:hover .line.-bottom, section#main_sub_banner .main_sub_banner_link_wrap a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left; }

section#main_tariff_plans .tariff_title {
  background-color: #003893;
  padding: 2rem 3rem 6rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section#main_tariff_plans .tariff_title_header {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 1rem; }
  section#main_tariff_plans .tariff_title_text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #ffffff;
    margin-bottom: 5rem; }
  section#main_tariff_plans .tariff_title_link_wrap {
    margin-top: auto; }
  section#main_tariff_plans .tariff_title_link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 900;
    transition: all 0.3s ease-in-out; }
    section#main_tariff_plans .tariff_title_link .text {
      text-decoration: underline;
      font-size: 1rem; }
    section#main_tariff_plans .tariff_title_link:hover {
      transform: scale(1.05); }
section#main_tariff_plans .tariff_item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #969696;
  border-left: none; }
  section#main_tariff_plans .tariff_item_header {
    margin-bottom: 1rem; }
  section#main_tariff_plans .tariff_item_list_wrap {
    margin-bottom: 4.5rem;
    position: relative;
    flex-grow: 1; }
    section#main_tariff_plans .tariff_item_list_wrap_title {
      font-size: 1.25rem;
      margin-bottom: 0; }
    section#main_tariff_plans .tariff_item_list_wrap_list {
      padding-left: 0.625rem;
      font-size: 1.25rem;
      list-style: none;
      position: relative; }
      section#main_tariff_plans .tariff_item_list_wrap_list li::before {
        content: "-";
        font-weight: 900;
        position: absolute;
        left: 0; }
    section#main_tariff_plans .tariff_item_list_wrap::before {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #B824A4;
      position: absolute;
      bottom: -2rem; }
  section#main_tariff_plans .tariff_item_price_wrap {
    margin-bottom: 2rem; }
    section#main_tariff_plans .tariff_item_price_wrap .price {
      font-weight: 900;
      font-size: 1.25rem;
      text-align: center; }
  section#main_tariff_plans .tariff_item_link_wrap {
    margin-bottom: 0.75rem; }

section#main_news .section-container {
  background-color: #E0DFDF; }
section#main_news .news_section_wrap .static_wrap .social_link_wrap {
  margin-bottom: 1.5rem; }
  section#main_news .news_section_wrap .static_wrap .social_link_wrap .social_link {
    display: flex;
    text-decoration: none;
    color: #111F4D; }
    section#main_news .news_section_wrap .static_wrap .social_link_wrap .social_link .icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.25rem;
      background-color: #003893;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      margin-right: 0.75rem; }
    section#main_news .news_section_wrap .static_wrap .social_link_wrap .social_link:hover .icon {
      background-color: transparent;
      color: #003893; }
section#main_news .news_section_wrap .static_wrap .blog_link_wrap {
  padding-top: 4rem; }
  section#main_news .news_section_wrap .static_wrap .blog_link_wrap a.blog_link {
    text-decoration: none;
    display: flex;
    flex-direction: column; }
    section#main_news .news_section_wrap .static_wrap .blog_link_wrap a.blog_link img {
      margin-bottom: 1.75rem; }
    section#main_news .news_section_wrap .static_wrap .blog_link_wrap a.blog_link .text {
      display: block;
      text-align: center;
      font-family: "Work Sans", sans-serif;
      font-weight: 900;
      line-height: 2rem;
      text-decoration: underline;
      transition: all 0.3s ease-in-out; }
    section#main_news .news_section_wrap .static_wrap .blog_link_wrap a.blog_link:hover .text {
      color: #111F4D;
      font-size: 1.15rem; }
section#main_news .news_section_wrap .dynamic_wrap .news_wrap .news_item {
  margin-bottom: 3rem; }
  section#main_news .news_section_wrap .dynamic_wrap .news_wrap .news_item .date_posted {
    margin-bottom: 0;
    font-size: 0.85rem;
    color: #5F71A7; }
  section#main_news .news_section_wrap .dynamic_wrap .news_wrap .news_item .news_text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: #111F4D; }
    section#main_news .news_section_wrap .dynamic_wrap .news_wrap .news_item .news_text::after {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #003893;
      transition: all 0.3s ease-in-out;
      transform: scale(0); }
    section#main_news .news_section_wrap .dynamic_wrap .news_wrap .news_item .news_text:hover::after {
      transform: scale(1); }

section#main_slider .main_slider_container {
  background-color: #ffffff;
  padding: 4.5rem 6rem 2.5rem 1.5rem; }
  section#main_slider .main_slider_container .section-container_body {
    position: relative; }
  section#main_slider .main_slider_container .main_slider_wrap_item {
    padding: 0 1rem;
    outline: none !important;
    box-shadow: none !important; }
    section#main_slider .main_slider_container .main_slider_wrap_item .slider_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3.75rem 0.5rem 6.25rem 1.75rem; }
      section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_header h2 {
        color: #B824A4; }
      section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body {
        min-height: 230px; }
        section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body p {
          font-size: 1.875rem;
          font-weight: 900;
          line-height: 2rem; }
        section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body ul {
          list-style-type: none;
          padding: 0; }
          section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body ul li {
            font-size: 1.25rem; }
      section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_btn {
        margin-top: auto; }
  section#main_slider .main_slider_container .main_slider_arrows_wrap {
    position: absolute;
    top: calc(3.75rem + 6px);
    right: 7rem;
    width: 32px;
    display: flex; }
    section#main_slider .main_slider_container .main_slider_arrows_wrap button {
      border: none;
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent;
      font-size: 3rem;
      color: #003893;
      margin-right: 2rem;
      transition: all 0.3s ease-in-out; }
      section#main_slider .main_slider_container .main_slider_arrows_wrap button:hover {
        color: #B824A4; }
    section#main_slider .main_slider_container .main_slider_arrows_wrap .slick-disabled {
      opacity: 0; }

section#main_form .section-container {
  background-color: #003893; }
  section#main_form .section-container .form_section_title_wrap {
    padding-top: 4rem; }
    section#main_form .section-container .form_section_title_wrap .form_section_title_header {
      color: #ffffff;
      line-height: 4rem;
      margin-bottom: 2.5rem; }
    section#main_form .section-container .form_section_title_wrap .form_section_title_sub_text {
      font-size: 1.25rem;
      color: #ffffff;
      line-height: 1.7rem; }
  section#main_form .section-container .main_form_wrap {
    background-color: #ffffff;
    padding: 4rem; }
    section#main_form .section-container .main_form_wrap label {
      margin-bottom: 0;
      cursor: pointer; }
    section#main_form .section-container .main_form_wrap .check_group .checkbox_wrap {
      padding: 0;
      margin-bottom: 1rem; }
      section#main_form .section-container .main_form_wrap .check_group .checkbox_wrap:nth-child(2n+1) {
        padding: 0 0.5rem 0 0; }
      section#main_form .section-container .main_form_wrap .check_group .checkbox_wrap:nth-child(2n) {
        padding: 0 0 0 0.5rem; }
      section#main_form .section-container .main_form_wrap .check_group .checkbox_wrap_content {
        background-color: #F5F5F5;
        transition: all 0.3s ease-in-out;
        border: 1px solid #D2D2E6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem; }
        section#main_form .section-container .main_form_wrap .check_group .checkbox_wrap_content.checked {
          background-color: #D2D2E6; }
    section#main_form .section-container .main_form_wrap .input_group .input_wrap {
      padding: 0;
      margin-bottom: 1rem; }
      section#main_form .section-container .main_form_wrap .input_group .input_wrap:nth-child(1) {
        padding-right: 0.5rem; }
      section#main_form .section-container .main_form_wrap .input_group .input_wrap:nth-child(2) {
        padding-left: 0.5rem; }
      section#main_form .section-container .main_form_wrap .input_group .input_wrap input {
        width: 100%;
        padding: 1rem; }
    section#main_form .section-container .main_form_wrap .input_group .confirm_wrap {
      display: flex;
      padding: 0;
      margin-top: 1.15rem; }
      section#main_form .section-container .main_form_wrap .input_group .confirm_wrap .maxNet_check_wrap {
        margin-right: 0.75rem; }
    section#main_form .section-container .main_form_wrap .btn_wrap {
      padding: 0;
      margin: 4rem -15px 0 -15px; }

section#about_about_company .container {
  background-color: #ffffff; }
section#about_about_company .content {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 27px; }
section#about_about_company .about_services_item {
  height: 360px;
  border-right: 2px solid #003893;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  section#about_about_company .about_services_item:nth-child(4) {
    border: none; }
  section#about_about_company .about_services_item::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #003893;
    opacity: 0.35; }
  section#about_about_company .about_services_item .icon {
    z-index: 10;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    font-size: 2.25rem;
    color: #ffffff; }

section#about_maxnet_is .section-container {
  background-color: #ffffff; }
  section#about_maxnet_is .section-container .maxnet_is_body .maxnet_is_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem; }
    section#about_maxnet_is .section-container .maxnet_is_body .maxnet_is_item .maxnet_img_wrap {
      min-height: 104px;
      margin-bottom: 2rem; }
    section#about_maxnet_is .section-container .maxnet_is_body .maxnet_is_item .maxnet_is_title {
      font-weight: 900;
      margin-bottom: 1.75rem; }
    section#about_maxnet_is .section-container .maxnet_is_body .maxnet_is_item p {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 300; }

section#about_stages_of_development .container {
  background-color: #ffffff; }
section#about_stages_of_development .section-container {
  padding-bottom: 2.5rem; }
  section#about_stages_of_development .section-container_header {
    margin-bottom: 0; }
section#about_stages_of_development .about_slider_container {
  padding: 0;
  position: relative; }
  section#about_stages_of_development .about_slider_container .about_slider_wrap_item {
    outline: none !important;
    box-shadow: none !important; }
  section#about_stages_of_development .about_slider_container .slider_arrows_wrap {
    position: absolute;
    top: -1rem;
    right: 12rem;
    width: 32px;
    display: flex; }
    section#about_stages_of_development .about_slider_container .slider_arrows_wrap button {
      border: none;
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent;
      font-size: 3rem;
      color: #003893;
      margin-right: 2rem;
      transition: all 0.3s ease-in-out; }
      section#about_stages_of_development .about_slider_container .slider_arrows_wrap button:hover {
        color: #B824A4; }
    section#about_stages_of_development .about_slider_container .slider_arrows_wrap .slick-disabled {
      opacity: 0; }
  section#about_stages_of_development .about_slider_container .icon_wrap {
    position: absolute;
    z-index: 1000;
    top: 0; }

section#about_partners .container {
  background-color: #ffffff; }
section#about_partners .section-container_header {
  margin-bottom: 0; }
section#about_partners .partners_container {
  padding: 0; }
  section#about_partners .partners_container .partners_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    section#about_partners .partners_container .partners_wrap .partner {
      height: 62px; }

section#about_carrier .section-container {
  background-color: #ffffff; }
  section#about_carrier .section-container .carrier_wrap {
    margin-top: 6rem;
    margin-bottom: 6rem; }
    section#about_carrier .section-container .carrier_wrap .carrier-img {
      border: 1px solid #003893;
      border-right: none; }
      section#about_carrier .section-container .carrier_wrap .carrier-img_item {
        height: 177px; }
        section#about_carrier .section-container .carrier_wrap .carrier-img_item.icon {
          display: flex;
          justify-content: center;
          align-items: center; }
        section#about_carrier .section-container .carrier_wrap .carrier-img_item.photo {
          background-size: cover;
          background-repeat: no-repeat; }
    section#about_carrier .section-container .carrier_wrap .carrier-content {
      background-color: #003893;
      padding: 3rem 3rem 4rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section#about_carrier .section-container .carrier_wrap .carrier-content .carrier-content_title {
        color: #ffffff;
        width: 66.66%;
        font-size: 3.5rem; }
      section#about_carrier .section-container .carrier_wrap .carrier-content .carrier-content_btn {
        width: 220px; }

section#express_help .section-container {
  background-color: #ffffff; }
  section#express_help .section-container .help_cards_wrap .help_card_wrap {
    padding: 0 1.75rem;
    margin-bottom: 3.5rem; }
    section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card {
      border: 1px solid #969696;
      border-top: 8px solid;
      width: 100%;
      height: 360px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_header {
        margin-bottom: 40px; }
      section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_content {
        flex: 1 1 auto;
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 27px;
        color: #111F4D; }
        section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_content a {
          font-weight: 400;
          color: #003893;
          text-decoration: underline;
          font-size: 1.25rem;
          line-height: 27px; }
        section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_content ol, section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_content ul {
          padding-left: 20px; }
      section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_btn {
        width: 172px; }
        section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_btn button, section#express_help .section-container .help_cards_wrap .help_card_wrap .help_card_btn a {
          width: 100%; }

section#FAQ .section-container {
  background-color: #ffffff;
  border: 1px solid;
  padding: 4.5rem 0; }
  section#FAQ .section-container_body .faq_wrap .accordion .card .card-header {
    background-color: #ffffff;
    padding: 0 2.25rem;
    border-bottom: none; }
    section#FAQ .section-container_body .faq_wrap .accordion .card .card-header h5 button {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #111F4D;
      font-family: "Roboto", sans-serif;
      line-height: 21px;
      font-weight: 500;
      font-size: 1.125rem;
      text-decoration: none;
      border-radius: 0;
      border-bottom: 1px solid #B824A4;
      transition: all 0.3s ease-in-out;
      padding: 0.5rem 0; }
      section#FAQ .section-container_body .faq_wrap .accordion .card .card-header h5 button .icon {
        width: 30px;
        height: 30px;
        border: 1px solid #111F4D;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-style: normal; }
        section#FAQ .section-container_body .faq_wrap .accordion .card .card-header h5 button .icon::before {
          content: ""; }
      section#FAQ .section-container_body .faq_wrap .accordion .card .card-header h5 button.collapsed {
        border-bottom: 1px solid transparent; }
        section#FAQ .section-container_body .faq_wrap .accordion .card .card-header h5 button.collapsed .icon::before {
          content: ""; }
  section#FAQ .section-container_body .faq_wrap .accordion .card .card-body {
    padding: 1.25rem 2.25rem;
    font-weight: 300; }
    section#FAQ .section-container_body .faq_wrap .accordion .card .card-body a {
      font-weight: 400;
      color: #003893;
      text-decoration: underline;
      line-height: 27px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  footer section#footer_menu .section-container {
    background-color: #ffffff;
    padding-bottom: 0; }
  footer section#footer_menu .menu_group {
    margin-bottom: 5rem;
    width: 48%; }
    footer section#footer_menu .menu_group_item_title {
      margin-bottom: 1.25rem;
      min-height: 22px; }
      footer section#footer_menu .menu_group_item_title h5 {
        font-size: 1rem;
        text-transform: uppercase; }
    footer section#footer_menu .menu_group_item_body ul, footer section#footer_menu .menu_group_item_body ul.menu_list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 1.5rem; }
      footer section#footer_menu .menu_group_item_body ul li.menu_list_title, footer section#footer_menu .menu_group_item_body ul.menu_list li.menu_list_title {
        font-weight: 900;
        margin-bottom: 0.5rem; }
      footer section#footer_menu .menu_group_item_body ul li, footer section#footer_menu .menu_group_item_body ul.menu_list li {
        margin-bottom: 0.4rem;
        font-size: 0.875rem; }
        footer section#footer_menu .menu_group_item_body ul li a, footer section#footer_menu .menu_group_item_body ul.menu_list li a {
          text-decoration: none;
          font-size: 0.875rem;
          color: #111F4D; }
          footer section#footer_menu .menu_group_item_body ul li a::after, footer section#footer_menu .menu_group_item_body ul.menu_list li a::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: #B824A4;
            transition: all 0.3s ease-in-out;
            transform: scale(0); }
          footer section#footer_menu .menu_group_item_body ul li a:hover::after, footer section#footer_menu .menu_group_item_body ul.menu_list li a:hover::after {
            transform: scale(1); }
    footer section#footer_menu .menu_group_item_body ul.big_margin_list li {
      margin-bottom: 1.75rem;
      display: flex;
      flex-direction: column; }
      footer section#footer_menu .menu_group_item_body ul.big_margin_list li .title {
        color: #003893; }
      footer section#footer_menu .menu_group_item_body ul.big_margin_list li .content {
        font-weight: 900; }
  footer section#footer {
    background-color: #003893; }
    footer section#footer .footer_container {
      padding-top: 2rem;
      padding-bottom: 1rem; }
      footer section#footer .footer_container .footer_top {
        text-align: center;
        margin-bottom: 2rem; }
        footer section#footer .footer_container .footer_top h6 {
          color: #ffffff;
          font-size: 0.875rem;
          letter-spacing: 0.015em;
          font-weight: 400; }
        footer section#footer .footer_container .footer_top a {
          color: #ffffff;
          text-decoration: none;
          font-weight: 900;
          transition: all 0.3s ease-in-out; }
          footer section#footer .footer_container .footer_top a:hover {
            color: #B824A4; }
      footer section#footer .footer_container .footer_middle {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin: 0 4.5rem 2rem 4.5rem; }
        footer section#footer .footer_container .footer_middle .title {
          color: #ffffff;
          margin-right: 2rem; }
        footer section#footer .footer_container .footer_middle .mobile_application {
          text-align: left;
          display: flex;
          align-items: center; }
          footer section#footer .footer_container .footer_middle .mobile_application .application_link {
            color: #ffffff;
            text-decoration: none;
            margin-right: 1.5rem;
            display: flex;
            align-items: center;
            font-size: 0.875rem; }
            footer section#footer .footer_container .footer_middle .mobile_application .application_link i {
              font-size: 1.75rem;
              margin-right: 0.75rem;
              transition: all 0.3s ease-in-out; }
            footer section#footer .footer_container .footer_middle .mobile_application .application_link:hover i {
              color: #B824A4; }
        footer section#footer .footer_container .footer_middle .phone_numbers {
          color: #ffffff;
          font-size: 1.3rem; }
          footer section#footer .footer_container .footer_middle .phone_numbers a.tel_link {
            color: #ffffff;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            font-size: 1.3rem;
            font-weight: 900; }
            footer section#footer .footer_container .footer_middle .phone_numbers a.tel_link:hover {
              color: #B824A4; }
            footer section#footer .footer_container .footer_middle .phone_numbers a.tel_link:nth-child(1) {
              margin-right: 1.25rem; }
            footer section#footer .footer_container .footer_middle .phone_numbers a.tel_link:nth-child(2) {
              margin-left: 1.25rem; }
        footer section#footer .footer_container .footer_middle .social_links {
          display: flex;
          justify-content: flex-end;
          align-items: center; }
          footer section#footer .footer_container .footer_middle .social_links .social_links_item {
            margin-left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #ffffff;
            color: #003893;
            width: 29px;
            height: 29px;
            text-decoration: none;
            font-size: 1.25rem;
            transition: all 0.3s ease-in-out; }
            footer section#footer .footer_container .footer_middle .social_links .social_links_item:hover {
              background-color: transparent;
              color: #ffffff; }
      footer section#footer .footer_container .footer_bottom p {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 0.75rem; }

/*# sourceMappingURL=main.css.map */
