@charset "UTF-8";
@media screen and (max-width: 1366px) {
  section .section-container {
    padding: 2.25rem 4.5rem;
  }

  section#main_top_banner .section-container {
    background-size: cover;
  }

  section#main_services .service_card_header {
    font-size: 1.65rem;
  }
  section#main_services .service_card_link {
    padding: 1.5rem;
  }

  section#main_tariff_plans .tariff_title_header {
    font-size: 3rem;
  }
  section#main_tariff_plans .tariff_item_header h4 {
    font-size: 2rem;
  }

  section#main_slider .main_slider_container .main_slider_wrap_item .slider_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_img img {
    width: 100%;
  }

  section#main_form .section-container .form_section_title_wrap .form_section_title_header {
    font-size: 3.75rem;
  }
}
@media screen and (max-width: 1024px) {
  section .section-container {
    padding: 2.25rem 2.5rem;
  }

  section#main_services .service_card_header {
    font-size: 1.25rem;
  }
  section#main_services .service_card_link {
    padding: 1.25rem;
  }

  section#main_tariff_plans .tariff_title_header {
    font-size: 4rem;
  }
  section#main_tariff_plans .tariff_title_text {
    font-size: 1.75rem;
  }
  section#main_tariff_plans .tariff_title_link_wrap .tariff_title_link {
    font-size: 1.75rem;
  }
  section#main_tariff_plans .tariff_title_link_wrap .text {
    font-size: 1.75rem;
  }
  section#main_tariff_plans .tariff_item_header h4 {
    font-size: 3.25rem;
  }
  section#main_tariff_plans .tariff_item_list_wrap_title {
    font-size: 2rem;
  }
  section#main_tariff_plans .tariff_item_list_wrap_list {
    font-size: 1.75rem;
  }
  section#main_tariff_plans .tariff_item_price_wrap p.price {
    font-size: 2.25rem;
  }

  section#main_slider .main_slider_container .main_slider_arrows_wrap {
    top: 380px;
  }

  section#main_form .section-container .form_section_title_wrap .form_section_title_header {
    font-size: 3rem;
  }

  footer section#footer .footer_container .footer_middle .phone_numbers {
    margin-top: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  section .section-container {
    padding: 2rem 1.5rem;
  }

  section#main_top_banner .section-container {
    background-position: center;
  }
  section#main_top_banner .section-container .main_top_banner_header {
    text-align: center;
    font-size: 3.5rem;
  }

  section#main_services .service_card_header {
    min-height: 50px;
    font-size: 1.5rem;
  }

  section#main_sub_banner .main_sub_banner_header {
    font-size: 3rem;
  }

  section#main_tariff_plans .tariff_title_header {
    font-size: 3rem;
  }
  section#main_tariff_plans .tariff_item_header h4 {
    font-size: 2.5rem;
  }
  section#main_tariff_plans .tariff_item_list_wrap_list {
    font-size: 1.5rem;
  }
  section#main_tariff_plans .tariff_item_list_wrap_title {
    font-size: 1.75rem;
  }
  section#main_tariff_plans .tariff_item_price_wrap p.price {
    font-size: 1.75rem;
  }

  section#main_news .news_section_wrap .static_wrap {
    display: none;
  }

  section#main_slider .main_slider_container .main_slider_arrows_wrap {
    top: 335px;
  }

  section#main_form .section-container .form_section_title_wrap {
    padding-top: 2.25rem;
  }
  section#main_form .section-container .form_section_title_wrap .form_section_title_header {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  section#main_form .section-container .form_section_title_wrap .form_section_title_sub_text {
    text-align: center;
  }

  section#main_slider .main_slider_container {
    padding-top: 1rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content {
    padding: 1.75rem 0.5rem 3.25rem 1.75rem;
  }

  footer section#footer_menu .menu_group {
    margin-bottom: 2rem;
  }

  footer section#footer .footer_container .footer_middle .social_links, footer section#footer .footer_container .footer_middle .mobile_application {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 540px) {
  section .section-container {
    padding: 1.75rem 0.75rem;
  }
  section .section-container_header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 2.5rem;
  }
  section .section-container_header h2 {
    text-align: left;
    color: #003893;
    font-size: 3rem;
  }
  section .section-container_header h2::after {
    display: none;
  }

  section#main_top_banner .section-container {
    background-position: left;
  }
  section#main_top_banner .section-container .main_top_banner_header {
    font-weight: 900;
    margin-bottom: 1.75rem;
  }
  section#main_top_banner .section-container .main_top_banner_header::after {
    display: none;
  }
  section#main_top_banner .section-container .main_top_banner_text {
    display: none;
  }
  section#main_top_banner .section-container .btn_wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  section#main_services .service_card {
    border: none;
  }
  section#main_services .service_card .service_card_link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #B824A4;
  }
  section#main_services .service_card .service_card_link .service_card_text {
    display: none;
  }
  section#main_services .service_card .service_card_link .service_card_header {
    margin-bottom: 0;
    border: none;
    width: 75%;
  }
  section#main_services .service_card .service_card_link .service_card_header::after {
    display: none;
  }
  section#main_services .service_card .service_card_link .service_card_chevron {
    width: 25%;
  }

  section#main_mobile_tariff_plans {
    display: block;
  }
  section#main_mobile_tariff_plans .section-container_header {
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#main_mobile_tariff_plans .section-container_header h2 {
    text-align: left;
    font-size: 3rem;
  }
  section#main_mobile_tariff_plans .section-container_header h2::after {
    display: none;
  }
  section#main_mobile_tariff_plans .section-container_header h3 {
    font-size: 2rem;
  }
  section#main_mobile_tariff_plans .section-container_header h2, section#main_mobile_tariff_plans .section-container_header h3 {
    font-weight: 700;
    color: #003893;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card {
    margin-bottom: 1.25rem;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header {
    background-color: #ffffff;
    border-top: 2px solid #003893;
    border-bottom: 2px solid #D2D2E6;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 {
    font-weight: 900;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 button {
    color: #111F4D;
    text-decoration: underline;
    font-weight: 900;
    font-size: 1.25rem;
    padding: 1.25rem 0.75rem;
    background-size: contain;
    background-position: 90%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 button .marker {
    font-family: "Font Awesome 5 Free", sans-serif;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 button .marker i::before {
    content: "";
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 button.collapsed {
    background-position: 160%;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-header h5 button.collapsed .marker i::before {
    content: "";
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body {
    padding: 0;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_title {
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #D2D2E6;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_title h5 {
    font-size: 1.25rem;
    font-weight: 900;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_title p {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_body {
    padding: 1.5rem 2rem;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_body p.description {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 42px;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_body .btn_wrap {
    width: 100%;
    padding: 0 2rem;
  }
  section#main_mobile_tariff_plans .section-container_body .mobile_tariff_card .tariff-body .mobile_tariff_body .btn_wrap .btn {
    width: 100%;
  }

  section.mobile_proposition_banner {
    display: block;
  }

  section#main_news .section-container {
    background-color: #ffffff;
  }

  section#main_slider .main_slider_container {
    background-color: #E0DFDF;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content {
    padding-bottom: 0.25rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_btn {
    display: none;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_header {
    margin-bottom: 0.75rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_header h2 {
    color: #003893;
    font-size: 3rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body {
    min-height: auto;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body p {
    font-weight: 300;
    font-size: 1.25rem;
  }
  section#main_slider .main_slider_container .main_slider_wrap_item .slider_content_body ul {
    display: none;
  }

  section#main_slider .main_slider_container .main_slider_arrows_wrap {
    right: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 280px;
  }
  section#main_slider .main_slider_container .main_slider_arrows_wrap button {
    color: #ffffff;
  }

  section#main_form .section-container .main_form_wrap {
    padding: 1rem;
  }
  section#main_form .section-container .main_form_wrap .check_group {
    display: none;
  }
  section#main_form .section-container .main_form_wrap .input_group .input_wrap {
    padding: 15px;
    padding-bottom: 0;
  }
  section#main_form .section-container .main_form_wrap .input_group .input_wrap:nth-child(2) {
    padding-left: 15px;
  }
  section#main_form .section-container .main_form_wrap .input_group .input_wrap:nth-child(1) {
    padding-bottom: 0;
    padding-right: 15px;
  }
  section#main_form .section-container .main_form_wrap .input_group .confirm_wrap {
    padding-left: 15px;
  }
  section#main_form .section-container .main_form_wrap .btn_wrap {
    padding: 0 15px;
  }
  section#main_form .section-container .main_form_wrap .select-group {
    display: block;
  }

  footer section#footer .footer_container {
    padding-top: 0.5rem;
  }
  footer section#footer .footer_container .footer_top {
    display: none;
  }
  footer section#footer .footer_container .footer_middle {
    margin: 0;
    margin-bottom: 2rem;
    border-top: none;
  }
  footer section#footer .footer_container .footer_middle .phone_numbers {
    display: none;
  }
  footer section#footer .footer_container .footer_middle .mobile_application {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 475px) {
  section#main_sub_banner .main_sub_banner_header {
    font-size: 2.5rem;
    font-weight: 900;
  }

  section#main_slider .main_slider_container {
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  section#main_form .section-container .form_section_title_wrap .form_section_title_header {
    line-height: 3rem;
  }

  section#main_slider .main_slider_container .main_slider_arrows_wrap {
    top: 335px;
  }

  footer section#footer .footer_container .footer_middle .social_links {
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
  }
  footer section#footer .footer_container .footer_middle .mobile_application {
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 1.25rem;
  }
  footer section#footer .footer_container .footer_middle .mobile_application .application_link {
    width: 25%;
    margin-bottom: 0.75rem;
  }
  footer section#footer .footer_container .footer_middle .social_links .social_links_item {
    width: 20px;
    height: 20px;
    font-size: 0.875rem;
  }
  footer section#footer .footer_container .footer_middle .blog_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  footer section#footer_menu .menu_group {
    margin-bottom: 0;
  }

  footer section#footer_menu .menu_group_item_title {
    min-height: 1px;
  }
}
