@import "colors"

@media screen and (max-width: 1500px)
  section#main_services
    .service_card_header
      font-size: 1.5rem
  footer
    section#footer
      .footer_container
        .footer_middle
          margin: 0 0 2.5rem 0
          .phone_numbers
            font-size: 1.15rem
            display: flex
            align-items: center
            justify-content: center
            a.tel_link
              font-size: 1.15rem
          .mobile_application
            .title
              margin-right: 1rem
            .application_link
              margin-right: .75rem
          .title
            margin-right: 1rem
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          height: 450px
@media screen and (max-width: 1366px)
  section
    .section-container
      padding: 2.25rem 4.5rem

  section#main_top_banner
    .section-container
      background-size: cover
    .main_banner_arrows
      width: 70%
      left: 15%

  section#main_services
    .service_card
      &_header
        font-size: 1.25rem
      &_link
        padding: 1.5rem

  section#main_tariff_plans
    .tariff_title
      &_header
        font-size: 3rem
    .tariff_item
      &_header
        h4
          font-size: 2rem
  section#main_slider
    .main_slider_container
      .main_slider_wrap
        &_item
          .slider_img
            display: flex
            align-items: center
            justify-content: flex-end
            img
              width: 100%
  section#main_form
    .section-container
      .form_section_title_wrap
        .form_section_title_header
          font-size: 3.75rem
  section#about_partners
    .partners_container
      .partners_wrap
        justify-content: center
        .partner_logo
          width: 18%
          margin-bottom: 1rem
        .partner
          //height: 62px
          width: 100%
  section#equipment_catalog
    .equipment_catalog_wrap
      .small_item
        padding: 0
  section#news_content_section
    .section-container_body
      padding: 0 5rem 4rem 5rem
  section#get_consultation
    .consultation-container
      padding: 2rem 3rem
  section#video_banner
    .video-banner-container
      background-position: center
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .package_title
          h5
            font-size: 1.5rem
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .package_img
          p
            width: 355px
  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        top: calc(4.5rem + 6px)
        button
          font-size: 2rem

  section#main_form
    .section-container
      .main_form_wrap
        .input_group
          .input_wrap
            input
  .card_slider_item
    .item_card
      .options_list
        padding-left: 1rem
  section#main_tariff_plans
    .tariff_item
      border-left: 1px solid #969696

@media screen and (max-width: 1280px)
  footer
    section#footer
      .footer_container
        .footer_middle
          margin: 0 0 2.5rem 0
          .phone_numbers
            font-size: 1.15rem
            display: flex
            align-items: center
            justify-content: center
            a.tel_link
              font-size: 1.15rem
          .mobile_application
            .title
              margin-right: 1rem
            .application_link
              margin-right: .75rem
          .title
            margin-right: 1rem
  section#about_partners
    .partners_container
      padding: 0 24px
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          height: 420px
          .help_card
            //height: 400px
            &_header
              min-height: 64px
              margin-bottom: 24px
  section#FAQ_directory
    .directory_content_wrap
      .get_directory_form_wrap
        input
          width: 330px

@media screen and (max-width: 1200px)
  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        right: -10px
  section#main_top_banner
    .main_banner_arrows
      width: 86%
      left: 7%
  footer section#footer
    .footer_container
      .footer_middle
        .phone_numbers,.mobile_application,.social_links,.blog_link
          margin: 1.25rem 0
          justify-content: center
        .mobile_application
          .application_link
            margin-left: 1rem
            margin-right: 0
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          height: 420px
@media screen and (max-width: 1024px)
  section
    .section-container
      padding: 2.25rem 2.5rem

  section#main_top_banner
    .section-container
      .main_top_banner_header
        font-size: 3.75rem
    .main_banner_arrows
      width: 86%
      left: 7%
  section#main_services
    .service_card
      &_header
        font-size: 1.25rem
      &_link
        padding: 1.25rem
  section#main_tariff_plans
    .tariff_title
      &_header
        font-size: 4rem
      &_text
        font-size: 1.75rem
        line-height: 2.25rem
      &_link_wrap
        .tariff_title_link
          font-size: 1.75rem
        .text
          font-size: 1.75rem
    .tariff_item
      &_header
        h4
          font-size: 3.25rem
      &_list_wrap
        &_title
          font-size: 2rem
        &_list
          font-size: 1.75rem
      &_price_wrap
        p.price
          font-size: 2.25rem
  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        right: 0
  section#main_form
    .section-container
      .form_section_title_wrap
        .form_section_title_header
          font-size: 3rem
  footer
    section#footer
      .footer_container
        .footer_middle
          .phone_numbers
            margin-top: 1.5rem
            justify-content: center
            text-align: center
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          padding: 0 1rem
        .maxNet_rotate_card
          .front,.back
            padding: 0 1rem
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          margin-bottom: 2rem
          &:last-child
            margin-bottom: 0
  section#FAQ
    .section-container
      padding: 2.5rem 0
  section#about_carrier
    .section-container
      .carrier_wrap
        .carrier-content
          .carrier-content_title
            font-size: 3rem
  section#about_stages_of_development
    .about_slider_container
      .icon_wrap
        top: -70px
  section#about_about_company
    .about_services_item
      height: 300px
  section#equipment_catalog
    .equipment_catalog_wrap
      .small_item_content
        background-position: 80px 10px
  section#news_content_section
    .section-container_body
      padding: 0 4rem 4rem 4rem
  section#get_consultation
    .consultation-container
      .text_wrap,.link_wrap
        font-size: 1.5rem
  .satellite_connection
    .title
      width: 100%
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .package_title
          h5
            font-size: 1.25rem
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .package_img
          p
            width: 205px
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .right-part
          .btn_wrap
            .btn
              min-width: 120px
              width: 100%


@media screen and (max-width: 992px)
  section#main_top_banner
    .section-container
      padding: 2.75rem 2.5rem

  footer section#footer
    .footer_container
      .footer_middle
        .social_links
          justify-content: center
          .title
            margin-right: 1rem

  section#about_stages_of_development
    .about_slider_container
      .icon_wrap
        display: none
  section#about_maxnet_is
    .section-container
      .maxnet_is_body
        .maxnet_is_item
          .maxnet_is_title
            min-height: 60px
            margin-bottom: 0.25rem
  section#about_stages_of_development
    .about_slider_container
      .slider_arrows_wrap
        button
          font-size: 2rem
          &:first-child
            margin-right: 2rem
@media screen and (max-width: 800px)
  section
    .section-container_header
      h2
        border: none
        font-size: 3.5rem
        &::after
          display: none
  section#main_top_banner
    .section-container
      .main_top_banner_header
        font-size: 3rem
    .main_banner_arrows
      width: 95%
      left: 2.5%
  .card_slider
    margin-top: 70px
    .slick-arrow
      top: -56px
    .slick-arrow-left
      left: 1.5rem
    .slick-arrow-right
      right: 1.5rem
  section#main_services
    .service_card
      .wrap
        justify-content: space-between

@media screen and (max-width: 768px)
  section
    .section-container
      padding: 2rem 1.5rem
      &_header
        margin-bottom: 2rem
  section#main_top_banner
    .section-container
      background-position: center
      .main_top_banner_header
        text-align: center
        //font-size: 3.5rem
  section#main_services
    .service_card
      &_text
        display: flex
        align-items: center
        width: 85%
      .wrap
        flex-wrap: nowrap
    .service_card_header
      min-height: 50px
      width: 100%
      font-size: 1.5rem
  section#main_sub_banner
    .main_sub_banner_header
      font-size: 3rem
  section#main_tariff_plans
    .tariff_title_header
      font-size: 3rem
    .tariff_item_header
      h4
        font-size: 2.5rem
    .tariff_item_list_wrap_list
      font-size: 1.5rem
    .tariff_item_list_wrap_title
      font-size: 1.75rem
    .tariff_item_price_wrap
      p.price
        font-size: 1.75rem
  section#main_news
    .news_section_wrap
      .static_wrap
        display: none
  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        top: 48px

  section#main_form
    .section-container
      .form_section_title_wrap
        padding-top: 2.25rem
        .form_section_title_header
          font-size: 2.5rem
          text-align: center
          margin-bottom: 1.25rem
        .form_section_title_sub_text
          text-align: center
  section#main_slider
    .main_slider_container
      padding-top: 1rem
      .main_slider_wrap_item
        .slider_content
          padding: 1.75rem 0.5rem 3.25rem 0rem
  footer section#footer_menu
    .menu_group
      margin-bottom: 2rem

  footer section#footer
    .footer_container
      .footer_middle
        .social_links,.mobile_application
          justify-content: space-between
          margin-top: 1.5rem
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          min-height: 360px

  section#about_about_company
    .about_services_item
      height: 200px
  section#about_stages_of_development
    .about_slider_container
      .icon_wrap
        top: -95px
      .slider_arrows_wrap
        top: -3rem
  section#about_partners
    .partners_container
      .partners_wrap
        .partner_logo
          width: 25%
  section#about_carrier
    .section-container
      .carrier_wrap
        .carrier-content
          .carrier-content_title
            font-size: 2.25rem
  section#equipment_catalog
    .equipment_catalog_wrap
      .small_item_content
        background-position: 180px 10px
        .title
          padding-bottom: 25px
  section#news_content_section
    .section-container_body
      padding: 0 2rem 4rem 2rem
      .news_wrap
        .news_bottom_img_wrap
          img
            margin-top: 12px
  section#news_want_to_know_more
    .want_to_know_more_wrap
      .want_to_know_more_img
        display: none
      .want_to_know_more_content
        &_header
          h4
            text-align: center
        &_form
          .maxNet_easy_form
            display: flex
            flex-direction: column
            align-items: center
            input
              width: 100%
  section#get_consultation
    .consultation-container
      padding: 2rem
      .text_wrap
        font-size: 1.25rem
      .link_wrap
        a
          font-size: 1.25rem
  section#get_consultation
    .consultation-container
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      .text_wrap,.link_wrap
        width: 33%
        font-size: 1rem
      .link_wrap
        display: flex
        align-items: center

        a
          font-size: 1rem
        i
          font-size: 1.25rem
          margin-right: 18px

  section#check_section
    form
      .form-group
        flex-wrap: wrap
        padding: 0 3rem
        button
          margin-top: 1.5rem
          width: 100%
        input[name="street_name"]
          width: 320px
  .data-table_body
    padding: 1rem 1.25rem
    .data-table-big-item
      font-size: 1.5rem
      line-height: 2rem
    .data-table-list
      &-item
        font-size: 1rem
  section#landline_city
    .poster_wrap
      .poster-content
        .poster_main_header
          font-size: 3rem
  .whois_card
    width: 100%
    .text
      text-align: center
      margin-bottom: 4.5rem
  .features_wrap
    margin-top: 1.5rem
  section#international_calls
    table
      tbody
        img
          display: none
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .equipment_banner
        width: 100%
        .title
          text-align: center
        .img_wrap
          display: flex
          justify-content: center
  section.internet_data_wrap
    .internet-nav_wrap
      flex-wrap: wrap
      .internet_nav_link_wrap
        width: 45%
        margin: 0 0 18px 0
        a.internet_nav_link
          font-size: 18px
          &::after
            display: none
    .data_item
      .text_wrap
        font-size: 1rem
  .space-left
    padding-left: 0
  .content-banner
    .banner-wrap
      .img_wrap
        display: none
      .banner-text

        &_header
          padding-left: 20%
          h4
            //text-align: center
            margin-bottom: 1rem
          p
            //text-align: center
            font-size: 2.5rem
            padding-left: 0
        &_img
          margin: 3rem 0
          display: flex
          justify-content: center
        &_body

          padding-left: 0
          .btn_wrap
            button.maxNet-btn
              font-size: 1.75rem
              width: 100%
              max-width: 460px

          .text_wrap,.btn_wrap
            display: flex
            justify-content: center

  section#result_section
    .request_wrap

      margin-bottom: 6px
  .select_tv_tariff_wrap
    margin-top: 40px
  .dual_poster_item
    .dual_poster_item_title
      h4
        min-height: 144px
    .link_wrap
      a
        i
          margin-left: 14px
  section#about_about_company
    .content
      margin-top: 1rem
  section#FAQ_directory
    .directory_content_wrap
      .get_directory_form_wrap
        input
          width: 100%
          padding: 1rem
          margin-bottom: 1.25rem
  footer
    section#mobile_footer_menu
      display: block
      .menu_group
        margin-bottom: 2rem
    section#footer_menu
      display: none

@media screen and (max-width: 767px)
  section#tv_main
    .alternative_tv_table_wrap
      display: block
  #tv_table
    display: none
  .maxNet-table
    thead
      tr
        th
          img
            display: none

  footer
    section#footer
      .footer_container
        .footer_middle
          .mobile_application
            .application_link:last-child
              margin-right: 0

  section#about_maxnet_is
    .section-container
      .maxnet_is_body
        .maxnet_is_item
          .maxnet_is_title
            min-height: 30px
  section#about_carrier
    .section-container
      .carrier_wrap
        .carrier-content
          padding: 1.75rem
          .carrier-content_title
            width: 100%
            margin-bottom: 2rem
  section#about_stages_of_development
    display: none
  section#check_section
    form
      .form-group
        justify-content: space-between
        input[name="street_name"]
          width: 100%
        input[name="build_number"],input[name="porch_number"]
          width: 45%
          margin-top: 1rem
@media screen and (max-width: 576px)
  section
    .section-container
      padding: 2.75rem .75rem
      &_header
        justify-content: flex-start
        margin-bottom: 1.25rem
        h2
          width: 100%
          //text-align: left
          color: $main_blue
          font-size: 2.75rem
          &::after
            display: none

  section#main_top_banner
    .section-container
      background-position: left
      .main_top_banner_header
        font-weight: 900
        margin-bottom: 1.75rem
        &::after
          display: none
      .main_top_banner_text
        display: none
      .btn_wrap
        flex: 1 1 auto
    .main_banner_arrows
      top: 300px
  section#main_services
    .service_card
      border: none

      .service_card_link
        flex-direction: row
        align-items: center
        border-bottom: 1px solid $main_purple
        .wrap
          width: auto
        .service_card_text
          display: none
        .service_card_header
          margin-bottom: 0
          border: none
          width: 75%
          &::after
            display: none
        .service_card_chevron
          width: 25%
  section#main_mobile_tariff_plans
    display: block
    .section-container
      &_header
        margin-bottom: 1rem
        flex-direction: column
        h2
          //text-align: left
          font-size: 3rem
          &::after
            display: none
        h3
          font-size: 2rem
        h2,h3
          text-align: center
          font-weight: 700
          color: $main_blue
      &_body
        .mobile_tariff_card
          margin-bottom: 1.25rem
          .tariff-header
            background-color: $text_color_white
            border-top: 2px solid $main_blue
            border-bottom: 2px solid $dark_grey
            h5
              font-weight: 900
              button
                color: $text_color_dark
                text-decoration: underline
                font-weight: 900
                font-size: 1.25rem
                padding: 1.25rem .75rem
                background-size: contain
                background-position: 90%
                transition: all .5s ease-in-out
                .marker
                  font-family: 'Font Awesome 5 Free', sans-serif
                  i::before
                    content: '\f068'

                &.collapsed
                  background-position: 160%
                  .marker
                    i::before
                      content: "\f067"

          .tariff-body
            padding: 0
            .mobile_tariff_title
              padding: 1.5rem 2rem
              border-bottom: 2px solid $dark_grey
              h5
                font-size: 1.25rem
                font-weight: 900
              p
                margin-bottom: 0
                font-size: 1.25rem
            .mobile_tariff_body
              padding: 1.5rem 2rem
              p.description
                font-size: 1rem
                font-weight: 300
                margin-bottom: 42px
              .btn_wrap
                width: 100%
                padding: 0 2rem
                .btn
                  width: 100%

  .data-table
    margin: 0
    &_body
      margin-top: .5rem
      margin-bottom: 1.25rem

  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .package_img
          display: none

  section.mobile_proposition_banner
    display: block
  section#main_news
    .section-container
      background-color: $text_color_white
  section#main_slider
    .main_slider_container
      background-color: $background_grey
      padding: 1.5rem 4rem 1.5rem 1.5rem
      .main_slider_wrap
        &_item
          .slider_content
            padding-bottom: .25rem
            &_btn
              display: none
            &_header
              margin-bottom: .75rem
              h2
                color: $main_blue
                font-size: 3rem
            &_body
              min-height: auto
              p
                font-weight: 300
                font-size: 1.25rem
              ul
                display: none

  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        right: auto
        width: 100%
        display: flex
        justify-content: space-between
        top: 280px
        button
          color: $text_color_white
  section#main_form
    .section-container
      .main_form_wrap
        padding: 1rem
        margin-bottom: 3rem
        .check_group
          display: none
        .input_group
          .input_wrap
            padding: 15px
            padding-bottom: 0
            &:nth-child(2)
              padding-left: 15px
            &:nth-child(1)
              padding-bottom: 0
              padding-right: 15px
          .confirm_wrap
            padding-left: 15px
        .btn_wrap
          padding: 0 15px
        .select-group
          display: block
      .form_section_title_wrap
        padding-top: 1.25rem
        margin-bottom: 3.5rem

        .form_section_title_header
          line-height: 2.75rem
  section#main_tariff_plans
    display: none
  footer section#footer
    .footer_container
      padding-top: 0.5rem
      .footer_top
        display: none
      .footer_middle
        margin: 0
        margin-bottom: 2rem
        border-top: none
        .phone_numbers
          display: none
        .mobile_application
          flex-wrap: wrap
          display: flex
          justify-content: space-between
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap
          .help_card
            height: 430px
            padding: 1.15rem
  section#FAQ
    .section-container
      .section-container_header
        padding: 0 0.75rem
    .faq_img
      display: none
  section#FAQ_directory
    form
      button.maxNet-btn
        min-width: 175px
        padding: 0.75rem
  section#about_about_company
    .about_services_item:nth-child(4)
      border: 2px none #003893
      border-right-style: solid

  section#about_partners
    .partners_container
      .partners_wrap
        .partner_logo
          width: 33%
  section#about_carrier
    overflow-x: hidden
    .section-container
      .carrier_wrap
        margin-top: 4rem
        margin-bottom: 3rem
        .carrier-content
          .carrier-content_title
            width: 100%
            margin-bottom: 1.25rem
  section#equipment_catalog
    .equipment_catalog_wrap
      margin: 0
      .small_item_content
        background-position: 120px 10px
  section#equipment_store
    .store_wrap
      .store-item
        .item_control
          justify-content: center
  section#news_content_section
    .section-container_body
      padding: 0 1.5rem 4rem 1.5rem
    .news_wrap_content
      padding: 2rem 3rem
      .news_text
        font-size: 1rem
        line-height: 1.5rem
        margin-bottom: 2.75rem

    .news_wrap
      .news_navigation
        padding: 2.25rem 2.25rem 1.25rem 2.25rem
  section#check_section
    form
      .form-group
        justify-content: space-between
        input[name="street_name"]
          width: 100%
        input[name="build_number"],input[name="porch_number"]
          width: 45%
          margin-top: 1rem
  section#international_calls
    table.maxNet-table
      img
        display: none
      thead
        tr
          th
            font-size: .85rem
            padding: 1.25rem .5rem
      tbody
        tr
          td
            padding-left: .5rem
            font-size: 1rem
  .satellite_connection
    margin-top: 4rem
  .sub_header
    &_content
      flex-wrap: wrap
      justify-content: flex-start
      .sub_header_link
        margin-left: 0
  footer
    section#footer
      .footer_container
        .footer_middle
          .blog_link
            display: flex
            justify-content: space-between
            margin-top: 1.25rem
            img
              width: 150px
  section.internet_data_wrap
    .internet-nav_wrap
      .internet_nav_link_wrap
        width: 50%
        a.internet_nav_link
          font-size: 14px
  .content-banner
    .banner-wrap
      .banner-text
        &_header
          h4
            font-size: 3rem
        &_body
          .text_wrap
          ul
            li
              font-size: 1.25rem
      .banner-text_img
        display: flex
        justify-content: center
        margin: 2rem 0
        img
          width: 320px
          height: 320px
  section#get_consultation
    .consultation-container

      .text_wrap,.link_wrap
        width: 100%
        text-align: center
        margin-bottom: 18px
        justify-content: center
        font-size: 1.25rem
  section#main_form
    .section-container
      .main_form_wrap
        .input_group
          .input_wrap
            margin-bottom: 0


@media screen and (max-width: 475px)
  main
    overflow-x: hidden
  section
    .section-container_header
      h2
        font-size: 2.75rem
  section#main_sub_banner
    .main_sub_banner_header
      font-size: 2.5rem
      font-weight: 900
  section#main_slider
    .main_slider_container
      padding: 1.5rem .5rem 1.5rem 1.5rem
  section#express_help
    .section-container
      .help_cards_wrap
        .help_card_wrap.maxNet_rotate_card
          min-height: 360px
          height: 100%
        .help_card_wrap
          .help_card
            min-height: 360px
  section#about_partners
    .partners_container
      .partners_wrap
        .partner_logo
          width: 49%
          display: flex
          justify-content: center
          align-items: center
  section#about_carrier
    .section-container .carrier_wrap
      margin-top: 2.5rem
      margin-bottom: 0
  section#about_maxnet_is
    overflow-x: hidden
  section#main_news
    .news_section_wrap
      .dynamic_wrap
        padding: 0
  section#equipment_catalog
    .equipment_catalog_wrap
      margin: 0
      .small_item_content
        background-position: 240px 10px
  section#news_content_section
    .news_wrap
      .news_navigation
        flex-wrap: wrap
        align-items: center
        justify-content: center
        .news_link_wrap
          margin-bottom: 1rem

  section#news_want_to_know_more
    .want_to_know_more_wrap
      .want_to_know_more_content_form
        .maxNet_easy_form
          .form-group
            width: 75%
          input
            min-width: 100%
  section#video_banner
    .video-banner-container
      .video-banner-title
        h2
          font-size: 1.5rem
  section#video_about
    .video_about_content
      .content_text
        font-size: 1.15rem
  section#check_section
    form
      .form-group
        padding: 0 2rem
  section#service_0000
    .all_tariff_link
      a
        font-size: 1rem
  .satellite_connection
    margin-top: 2.5rem
  .select_tv_tariff_wrap
    .tv_radio_nav
      .checkbox_wrap_content
        justify-content: flex-start
        padding-left: 36px
        margin-bottom: 18px
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .tv_package
        .right-part
          flex-direction: row
          align-items: center
          .price
            margin-bottom: 0

  .select_tv_tariff_wrap
    .tv_get_more_info
      margin-top: 64px
  .channels_list_modal
    .modal-body
      max-height: 420px
  .sub_header
    &_content
      .sub_header_message
        font-size: .75rem
      .sub_header_link
        font-size: .75rem
  section#FAQ_directory
    .directory_content_wrap
      .get_directory_form_wrap
        input
          height: 50px
          width: 100%
          margin-bottom: 1.25rem
        button
          width: 100%
  section#about_maxnet_is
    .section-container
      .maxnet_is_body
        .maxnet_is_item
          .maxnet_img_wrap
            margin-bottom: 1.25rem
          .maxnet_is_title
            min-height: 30px
          p
            font-size: 1rem
  section.internet_data_wrap
    .internet-nav_wrap
      .internet_nav_link_wrap
        width: 100%
        text-align: center
  .internet_equipment_table
    .light_title
      font-size: 1rem
      span:last-child
        text-align: right
    p
      font-size: .875rem
  .get_call_section
    flex-direction: column
    h6
      text-align: center
      margin-bottom: 1.5rem
      margin-right: 0
  section#FAQ_theme_search
    .section-container_header.advanced_header
      .search_form
        .search_wrap
          input
            width: 260px
  .mobile_bottom
    display: block
  section#main_mobile_tariff_plans
    .section-container_body
      .mobile_tariff_card
        .tariff-header
          padding: 12px 15px
          h5
            button
              padding: 1.25rem 0

@media screen and (max-width: 414px)
  section
    .section-container
      padding: 2.75rem 0.75rem 1.5rem 0.75rem
      &_header
        margin-bottom: 1.5rem
        h2
          font-size: 2.5rem
  section#main_top_banner
    .section-container
      .main_top_banner_header
        font-size: 2rem
  section#FAQ_theme_search
    .section-container_header.advanced_header
      .search_form
        .search_wrap
          input
            max-width: 310px
  section#FAQ_directory
    form
      .form-content
        flex-wrap: wrap
        button.maxNet-btn
          margin-top: .75rem
          min-width: 175px
          width: 100%
          padding: 0.75rem
  section#get_consultation
    .consultation-container
      padding-bottom: 1rem
      .link_wrap
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 100%
        margin-bottom: 1rem
  section#check_section
    form
      .form-group
        padding: 0
  section#service_0000
    .all_tariff_link
      a
        i
          display: none
  section#international_calls
    table
      width: 100%
  .whois_card
    .text
      margin-bottom: 3rem
  .channels_list_modal
    .modal-header
      h5
        font-size: 1.25rem
    .modal-body
      max-height: 360px
  section#main_form
    .section-container
      .main_form_wrap
        padding-top: 2rem
        .btn_wrap
          margin-top: 2rem
          margin-bottom: 2rem
  section.internet_data_wrap
    .internet_tariff_main_wrap
      padding: 36px 12px
  .content-banner
    .banner-wrap
      .banner-text
        &_body
          padding-left: 0
          .btn_wrap
            display: flex
            justify-content: center
            button.maxNet-btn
              font-size: 1.25rem

        &_header
          margin-bottom: 0
          padding-left: 12%
          h4
            font-size: 2.75rem
            margin-bottom: 0.5rem
          p
            font-size: 2rem
        &_img
          img
            margin-top: 0 !important

      .banner-text_img
        margin: 1rem 0
  .info
    font-size: 0.875rem
  .animated_wrap
    left: -58px
  section#main_sub_banner
    .container
      background-position: center
    .main_sub_banner_link_wrap
      margin-top: 40px
      margin-bottom: 90px
  section#equipment_catalog
    .equipment_catalog_wrap
      .big_item
        .item_content
          .description
            justify-content: space-between
  section#news_content_section
    .section-container
      &_body
        padding: 0
        padding-bottom: 4rem
    .news_wrap_content
      padding: 2.5rem 1.25rem

    .news_wrap
      .news_navigation
        padding: 2.25rem 1.25rem 1.25rem 1.25rem
        justify-content: space-between
  footer
    overflow-x: hidden
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .additional_packages_title
        h5
          font-size: 1.25rem
      .tv_package
        .package_title
          h5
            font-size: 1.75rem
        .package_img
          display: none


@media screen and (max-width: 375px)
  section
    .section-container_header
      h2
        font-size: 2rem
  section#main_form
    .section-container
      .form_section_title_wrap
        .form_section_title_header
          line-height: 3rem

  section#main_slider
    .main_slider_container
      .main_slider_arrows_wrap
        top: 335px
  footer section#footer
    .footer_container
      .footer_middle
        .social_links
          border-bottom: 2px solid #FFFFFF
          margin-bottom: 1rem
          padding-bottom: .75rem
        .mobile_application
          border-bottom: 2px solid #FFFFFF
          margin-bottom: 1.25rem
          .application_link
            width: 25%
            margin-bottom: .75rem

        .social_links
          .social_links_item
            width: 20px
            height: 20px
            font-size: .875rem

  section#about_carrier
    .section-container
      .carrier_wrap
        .carrier-content
          .carrier-content_title
            font-size: 1.75rem


  footer section#footer_menu
    .menu_group
      margin-bottom: 0
  footer section#footer_menu
    .menu_group_item_title
      min-height: 38px
  section#FAQ_theme_search
    .section-container_header.advanced_header
      .search_form
        .search_wrap
          input
            max-width: 275px
  section#FAQ
    .section-container_body
      .accordion
        .card
          .card-header
            padding: 0 1.25rem
  section#equipment_catalog
    .equipment_catalog_wrap
      .small_item_content
        background-position: 190px 10px
  section#news_content_section
    .section-container_body
      padding: 0 0.5rem 4rem 0.5rem
      .news_wrap_content
        padding: 2rem 1rem
  section#news_want_to_know_more
    .want_to_know_more_wrap
      .want_to_know_more_content_form
        .maxNet_easy_form
          .form-group
            width: 95%
  section#video_banner
    .video-banner-container
      .video-banner-title
        h2
          font-size: 1.25rem
  section#landline_city
    .poster_wrap
      .poster-content
        padding: 2.5rem
        .poster_main_header
          font-size: 2.5rem
        .poster_sub_header
          font-size: 1.5rem
        .poster-text
          font-size: 1rem
  .content-banner
    .banner-wrap
      .banner-text
        padding: 2.25rem 15px
        &_body
          .text_wrap
            margin-bottom: 24px
      .banner-text_img
        img
          height: 240px
          width: 240px
          margin-top: 0!important
  footer section#footer
    .footer_container
      .footer_middle
        .mobile_application
          justify-content: space-between
          .title
            margin-bottom: .75rem
          .application_link
            margin-left: 0.5rem
            i
              font-size: 1.15rem
              margin-right: 0.5rem
        .mobile_application,.social_links,.blog_link
          padding-left: 0
          padding-right: 0

@media screen and (max-width: 320px)
  html,main
    overflow-x: hidden
  section#FAQ_theme_search
    .section-container_header.advanced_header
      .search_form
        .search_wrap
          input
            padding: .875rem 1.25rem
            max-width: 240px
  section#check_section
    form
      .form-group
        input[name="build_number"],input[name="porch_number"]
          width: 43%
          margin-top: 1rem
  .data-table_body
    .data-table-list-item
      font-size: .85rem
  .channels_list_modal
    .modal-header
      h5
        font-size: 1.15rem
    .modal-body
      padding: 0
      .row
        margin: 0
        .col-6
          padding: 0
  section#equipment_catalog
    .equipment_catalog_wrap
      .small_item_content
        background-position: 140px 10px
  .select_tv_tariff_wrap
    .tv_packages_wrap
      .additional_packages_title
        h5
          font-size: 1.25rem
      .tv_package
        .package_title
          h5
            font-size: 1.5rem
  footer
    section#footer
      .footer_container
        .footer_middle
          .social_links
            flex-wrap: wrap
            .title
              width: 42%
              margin-right: 0.25rem
          .mobile_application
            .title
              margin-right: 0.25rem
  section#about_carrier
    .section-container
      .carrier_wrap
        .carrier-content
          padding: 1.5rem
          .carrier-content_title
            font-size: 1.5rem

  .content-banner
    .banner-wrap
      .banner-text
        padding-top: 1.75rem
        padding-bottom: 1rem
        .banner-text_header
          h4
            font-size: 2.25rem
          p
            font-size: 1.5rem
  .mobile_bottom
    .title
      font-size: 1rem
    button
      font-size: 12px !important
